# Where auth sessions are stored locally
LOCAL_AUTH_PROFILE_PATH=./storage
VPS_AUTH_PROFILE_PATH=/storage

# Redis (local)
REDIS_HOST=redis
REDIS_PORT=6379

# Agent/VPS
VPS_USER=onescope
VPS_API_URL=https://api.example.com

# Proxy
PROXY_SERVER=http://proxy.example.net:9999
PROXY_USERNAME=changeme
PROXY_PASSWORD=changeme
PROXY_API_URL=https://get-ip.example.net/api

# Auth
API_AUTH_TOKEN=changeme
DEBUG_ENABLED=false
