# Where auth sessions are stored locally
LOCAL_AUTH_PROFILE_PATH=./storage
VPS_AUTH_PROFILE_PATH=/storage

# Redis (local)
REDIS_HOST=redis
REDIS_PORT=6379

VPS_USER=changeme
VPS_API_URL=https://api.yourdomain.com

PROXY_API_URL=changeme

API_AUTH_TOKEN=changeme
DEBUG_ENABLED=false

PROXY_SOURCE_MODE=manual
PROXY_MANUAL_FILE=./proxies.txt
